@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600&display=swap');


*{
    box-sizing: border-box;
}

body{
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #A68851;
    font-family: 'Almarai', sans-serif;
}

.navbar{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0%;
    font-size: 14.5px;
    font-weight: 400;

    z-index: 100;
    overflow: hidden;

    height: 85px;
    margin: auto;
}

.nav-div{
    width: 1239px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    height: 85px;
}

.nav-title{
    margin-left: 133px;
}

.navbar-list{
    list-style: none;
    display: inline-flex;
    justify-content: right;
    margin-right: 40px;
}

.nav-menu{
    display: inline-block;
    padding: 0% 12%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover, a:active, .home-link {
    color: #735702;
}

.bg-imgs{
    text-align: center;
    z-index: -1;

    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section1{
    background: url('./assets/image3.png') no-repeat center fixed;
    background-attachment: fixed;
    background-size: auto;
    position: relative;
    height: 920px;
}

.intro p{
    color: white;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
    text-align: center;
    line-height: 90px;
    letter-spacing: 15px;
    font-size: 55px;
    font-family: 'EB Garamond', serif;
}

.section2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    color: white;
    font-family: 'EB Garamond', serif;
    background-color: white;

    z-index: 99;
}

.section2-div{
    height: 670px;
    width: 1239px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services .service-title, .service-btn{
    font-family: 'Almarai', sans-serif;
}

.services img{
    height: 580px;
    width: 350px;
}

.service-image img{
    /* height: 530px;
    width: 680px; */
}

.services{
    position: relative;
    text-align: center;
    display: inline-block;
}

.service-title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    letter-spacing: 15px;
}

.service-text{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    width: 60%;
}

.service-btn{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    border: 1px solid white;
    padding: 3% 20%;
}

.section3{
    text-align: center;
    display: inline-block;
    height: 580px;
    background-color: white;
}

.testimonial{
    text-align: center;
    display: inline-block;
    height: 520px;
}

.testimonial img{
    height: 39px;
    width: fit-content;
    margin-bottom: 40px;
    margin-top: 100px;
}

.testimonial-text{
    color: black;
    font-size: 37px;
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    width: 560px;
    margin: auto;
}

.testimonial-name{
    font-family: 'Almarai', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 60px 0px 0px 0px;
    width: fit-content;
    margin: auto;
}

.section4{
    color: white;
    height: 650px;
    width: 1239px;
    margin: 0px auto;

    overflow-x: hidden;
}

.gallery{
    height: 650px;
    width: 1239px;

    background: url('./assets/image2.png') no-repeat center center;
    background-attachment: fixed;
    background-size: 1110px ;
    background-position: top;
    position: absolute;
}

.gallery-sec{
    position: relative;
    text-align: center;
    display: inline-block;
    left: 49em;
    top: 70px;
}

.gallery-sec img{
    object-fit: cover;
    height: 520px;
    width: 320px;
}

.gallery-title{
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    letter-spacing: 13px;
}

.gallery-text{
    position: absolute;
    top: 53.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 45px;
    width: 200px;
    font-family: 'EB Garamond', serif;
}

.gallery-btn{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    border: 1px solid white;
    width: fit-content;
    padding: 15px 60px;
}

.section5{
    height: 320px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 3% 0% 0% 0%;
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #AF9453;
    width: 1110px;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.col1, .col2, .col3{
    line-height: 20px;
    text-align: left;
    height: 80px;
}

.col2{
    width: 185px;
    word-wrap: break-word;
}

.col1-text, .col2-text, .col3-text{
    height: 58px;
    text-align: left;
    padding: 0px 28px;
}

.col2-text{
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.col-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.button{
    border: 1px solid white;
    padding: 15px;
    line-height: 10px;
}


/**** Page2.html *****/
.page2-main{
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
    padding-top: 0px;
}
